default/exercise.json
{
  "externalControllerServices" : {
    "dbec9800-2170-33f6-a099-7a6fc3c20e18" : {
      "identifier" : "dbec9800-2170-33f6-a099-7a6fc3c20e18",
      "name" : "DBCPConnectionPool"
    },
    "2ec98c27-41e8-3d5f-ae66-9ba506dac137" : {
      "identifier" : "2ec98c27-41e8-3d5f-ae66-9ba506dac137",
      "name" : "ConfluentSchemaRegistry"
    }
  },
  "flow" : {
    "createdTimestamp" : 1759906471757,
    "description" : "",
    "identifier" : "exercise",
    "lastModifiedTimestamp" : 1759906471757,
    "name" : "exercise",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "id" : "bd837e34-0199-1000-5df7-6346a37ef2d1",
        "name" : "in",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3fc138cf-4738-3c14-bd97-8be31603c9bd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bd837e0f-0199-1000-8568-a9a68bb21725",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 16
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "id" : "bd837e14-0199-1000-8ff8-6fd7661c1298",
        "name" : "in",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a5de568c-1a63-340e-975c-08897482101f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bd837e0f-0199-1000-8568-a9a68bb21725",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 15
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "id" : "bd837e1d-0199-1000-91c1-054a27f3fc32",
        "name" : "in",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e40-0199-1000-b802-cf56c657c844",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "id" : "bd837e28-0199-1000-ffe8-7fc9de5d0bf6",
        "name" : "out",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bd837e11-0199-1000-1993-6ef62df92f1c",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e43-0199-1000-6a8f-6470ecdc65da",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bd837e0f-0199-1000-8568-a9a68bb21725",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 9
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bd837e0f-0199-1000-8568-a9a68bb21725",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e46-0199-1000-ea11-931db52bfc3c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "id" : "bd837e1e-0199-1000-48d1-e68126d03274",
        "name" : "out",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 14
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5d25925e-b54b-34c9-ac30-de240bb07749",
      "name" : "AvroRecordSetWriter",
      "properties" : {
        "compression-format" : "NONE",
        "Schema Write Strategy" : "avro-embedded",
        "schema-name" : "${schema.reader.name}",
        "cache-size" : "1000",
        "schema-registry" : "2ec98c27-41e8-3d5f-ae66-9ba506dac137",
        "schema-access-strategy" : "schema-name",
        "schema-version" : "1",
        "encoder-pool-size" : "32",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "encoder-pool-size" : {
          "displayName" : "Encoder Pool Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "encoder-pool-size",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "98b930a8-f520-390f-994d-4b1b6292afcb",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "false",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "infer-schema",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aae21dc1-c042-3fc0-b3b2-cbd159a61f99",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-redis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-redis-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.redis.RedisConnectionPool"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e0a-0199-1000-2f11-21a408a0ee59",
      "name" : "RedisConnectionPoolService",
      "properties" : {
        "Pool - Min Evictable Idle Time" : "60 seconds",
        "Pool - Test On Borrow" : "false",
        "Pool - Test On Return" : "false",
        "Redis Mode" : "Standalone",
        "Pool - Max Idle" : "8",
        "Pool - Block When Exhausted" : "true",
        "Cluster Max Redirects" : "5",
        "Pool - Num Tests Per Eviction Run" : "-1",
        "Connection String" : "localhost:6379",
        "Pool - Max Total" : "8",
        "Pool - Test On Create" : "false",
        "Pool - Min Idle" : "0",
        "Pool - Test While Idle" : "true",
        "Pool - Time Between Eviction Runs" : "30 seconds",
        "Communication Timeout" : "10 seconds",
        "Pool - Max Wait Time" : "10 seconds",
        "Database Index" : "0"
      },
      "propertyDescriptors" : {
        "Pool - Min Evictable Idle Time" : {
          "displayName" : "Pool - Min Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Min Evictable Idle Time",
          "sensitive" : false
        },
        "Pool - Test On Borrow" : {
          "displayName" : "Pool - Test On Borrow",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test On Borrow",
          "sensitive" : false
        },
        "Pool - Test On Return" : {
          "displayName" : "Pool - Test On Return",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test On Return",
          "sensitive" : false
        },
        "Redis Mode" : {
          "displayName" : "Redis Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redis Mode",
          "sensitive" : false
        },
        "Pool - Max Idle" : {
          "displayName" : "Pool - Max Idle",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Max Idle",
          "sensitive" : false
        },
        "Pool - Block When Exhausted" : {
          "displayName" : "Pool - Block When Exhausted",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Block When Exhausted",
          "sensitive" : false
        },
        "Cluster Max Redirects" : {
          "displayName" : "Cluster Max Redirects",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cluster Max Redirects",
          "sensitive" : false
        },
        "Pool - Num Tests Per Eviction Run" : {
          "displayName" : "Pool - Num Tests Per Eviction Run",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Num Tests Per Eviction Run",
          "sensitive" : false
        },
        "Connection String" : {
          "displayName" : "Connection String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection String",
          "sensitive" : false
        },
        "Pool - Max Total" : {
          "displayName" : "Pool - Max Total",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Max Total",
          "sensitive" : false
        },
        "Pool - Test On Create" : {
          "displayName" : "Pool - Test On Create",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test On Create",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Sentinel Username" : {
          "displayName" : "Sentinel Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sentinel Username",
          "sensitive" : false
        },
        "Pool - Min Idle" : {
          "displayName" : "Pool - Min Idle",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Min Idle",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Sentinel Password" : {
          "displayName" : "Sentinel Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sentinel Password",
          "sensitive" : true
        },
        "Pool - Test While Idle" : {
          "displayName" : "Pool - Test While Idle",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test While Idle",
          "sensitive" : false
        },
        "Pool - Time Between Eviction Runs" : {
          "displayName" : "Pool - Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Time Between Eviction Runs",
          "sensitive" : false
        },
        "Communication Timeout" : {
          "displayName" : "Communication Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communication Timeout",
          "sensitive" : false
        },
        "Pool - Max Wait Time" : {
          "displayName" : "Pool - Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Max Wait Time",
          "sensitive" : false
        },
        "Database Index" : {
          "displayName" : "Database Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Index",
          "sensitive" : false
        },
        "Sentinel Master" : {
          "displayName" : "Sentinel Master",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sentinel Master",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.redis.service.RedisConnectionPoolService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-redis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e0b-0199-1000-dffa-ee1bb04afe74",
      "name" : "RedisDistributedMapCacheClientService",
      "properties" : {
        "redis-connection-pool" : "bd837e0a-0199-1000-2f11-21a408a0ee59",
        "redis-cache-ttl" : "0 secs"
      },
      "propertyDescriptors" : {
        "redis-connection-pool" : {
          "displayName" : "Redis Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "redis-connection-pool",
          "sensitive" : false
        },
        "redis-cache-ttl" : {
          "displayName" : "TTL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "redis-cache-ttl",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.redis.service.RedisDistributedMapCacheClientService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dd8a0f2d-178e-30ea-bd19-1310e1976c05",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "#{db.driver.class}",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "#{db.url}nifi-training",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "#{db.username}",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "#{db.driver.location}",
        "dbcp-max-idle-conns" : "8",
        "Password" : "#{db.password}"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e5dfc8f6-17e6-3488-ad47-b6b48eb026aa",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-oneline",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f275ef35-264f-3825-8c05-e30c97c6e590",
      "name" : "AvroReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-access-strategy" : "embedded-avro-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "dbec9800-2170-33f6-a099-7a6fc3c20e18" : {
        "identifier" : "dbec9800-2170-33f6-a099-7a6fc3c20e18",
        "name" : "DBCPConnectionPool"
      },
      "2ec98c27-41e8-3d5f-ae66-9ba506dac137" : {
        "identifier" : "2ec98c27-41e8-3d5f-ae66-9ba506dac137",
        "name" : "ConfluentSchemaRegistry"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e11-0199-1000-1993-6ef62df92f1c",
      "position" : {
        "x" : 120.0,
        "y" : 360.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "exercise",
    "outputPorts" : [ ],
    "parameterContextName" : "nifi.training",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
          "id" : "bd837e16-0199-1000-3af1-560e66ea35e3",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e17-0199-1000-cbbb-6492b2524f6c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
          "id" : "bd837e13-0199-1000-daf3-6f31c7237c0c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 11
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
          "id" : "bd837e13-0199-1000-daf3-6f31c7237c0c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e18-0199-1000-a1e6-c2028583e1f4",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
          "id" : "bd837e14-0199-1000-8ff8-6fd7661c1298",
          "name" : "in",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 12
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
          "id" : "bd837e15-0199-1000-75e6-d22072817b31",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e19-0199-1000-5e94-22fed020a379",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e12-0199-1000-a201-9c798ee813c1",
          "id" : "bd837e13-0199-1000-daf3-6f31c7237c0c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 10
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e15-0199-1000-75e6-d22072817b31",
        "position" : {
          "x" : -648.0,
          "y" : 56.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e16-0199-1000-3af1-560e66ea35e3",
        "position" : {
          "x" : -48.0,
          "y" : 88.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e14-0199-1000-8ff8-6fd7661c1298",
        "name" : "in",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -376.0,
          "y" : -448.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "insert_to_db",
      "outputPorts" : [ ],
      "parameterContextName" : "nifi.training",
      "position" : {
        "x" : -1384.0,
        "y" : 432.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e12-0199-1000-a201-9c798ee813c1",
        "identifier" : "bd837e13-0199-1000-daf3-6f31c7237c0c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutDatabaseRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -432.0,
          "y" : -320.0
        },
        "properties" : {
          "put-db-record-allow-multiple-statements" : "false",
          "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
          "put-db-record-statement-type" : "INSERT",
          "put-db-record-quoted-identifiers" : "false",
          "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
          "put-db-record-max-batch-size" : "1000",
          "database-session-autocommit" : "false",
          "table-schema-cache-size" : "100",
          "put-db-record-quoted-table-identifiers" : "false",
          "put-db-record-translate-field-names" : "true",
          "put-db-record-dcbp-service" : "dbec9800-2170-33f6-a099-7a6fc3c20e18",
          "put-db-record-query-timeout" : "0 seconds",
          "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
          "rollback-on-failure" : "false",
          "put-db-record-binary-format" : "UTF-8",
          "db-type" : "PostgreSQL",
          "put-db-record-table-name" : "${partition.field}",
          "put-db-record-record-reader" : "f275ef35-264f-3825-8c05-e30c97c6e590"
        },
        "propertyDescriptors" : {
          "put-db-record-allow-multiple-statements" : {
            "displayName" : "Allow Multiple SQL Statements",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-allow-multiple-statements",
            "sensitive" : false
          },
          "put-db-record-schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-schema-name",
            "sensitive" : false
          },
          "put-db-record-field-containing-sql" : {
            "displayName" : "Field Containing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-field-containing-sql",
            "sensitive" : false
          },
          "put-db-record-unmatched-column-behavior" : {
            "displayName" : "Unmatched Column Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-unmatched-column-behavior",
            "sensitive" : false
          },
          "Delete Keys" : {
            "displayName" : "Delete Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Keys",
            "sensitive" : false
          },
          "put-db-record-catalog-name" : {
            "displayName" : "Database Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-catalog-name",
            "sensitive" : false
          },
          "put-db-record-statement-type" : {
            "displayName" : "Statement Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-statement-type",
            "sensitive" : false
          },
          "put-db-record-update-keys" : {
            "displayName" : "Update Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-update-keys",
            "sensitive" : false
          },
          "put-db-record-quoted-identifiers" : {
            "displayName" : "Quote Column Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-quoted-identifiers",
            "sensitive" : false
          },
          "put-db-record-unmatched-field-behavior" : {
            "displayName" : "Unmatched Field Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-unmatched-field-behavior",
            "sensitive" : false
          },
          "put-db-record-max-batch-size" : {
            "displayName" : "Maximum Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-max-batch-size",
            "sensitive" : false
          },
          "Database Dialect Service" : {
            "displayName" : "Database Dialect Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Dialect Service",
            "sensitive" : false
          },
          "Data Record Path" : {
            "displayName" : "Data Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Record Path",
            "sensitive" : false
          },
          "database-session-autocommit" : {
            "displayName" : "Database Session AutoCommit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "database-session-autocommit",
            "sensitive" : false
          },
          "table-schema-cache-size" : {
            "displayName" : "Table Schema Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "table-schema-cache-size",
            "sensitive" : false
          },
          "put-db-record-quoted-table-identifiers" : {
            "displayName" : "Quote Table Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-quoted-table-identifiers",
            "sensitive" : false
          },
          "Statement Type Record Path" : {
            "displayName" : "Statement Type Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type Record Path",
            "sensitive" : false
          },
          "Column Name Translation Pattern" : {
            "displayName" : "Column Name Translation Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Pattern",
            "sensitive" : false
          },
          "put-db-record-translate-field-names" : {
            "displayName" : "Translate Field Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-translate-field-names",
            "sensitive" : false
          },
          "put-db-record-dcbp-service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "put-db-record-dcbp-service",
            "sensitive" : false
          },
          "put-db-record-query-timeout" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-query-timeout",
            "sensitive" : false
          },
          "Column Name Translation Strategy" : {
            "displayName" : "Column Name Translation Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Strategy",
            "sensitive" : false
          },
          "rollback-on-failure" : {
            "displayName" : "Rollback On Failure",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "rollback-on-failure",
            "sensitive" : false
          },
          "put-db-record-binary-format" : {
            "displayName" : "Binary String Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-binary-format",
            "sensitive" : false
          },
          "db-type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "db-type",
            "sensitive" : false
          },
          "put-db-record-table-name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-table-name",
            "sensitive" : false
          },
          "put-db-record-record-reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "put-db-record-record-reader",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1b-0199-1000-e712-420a929e3c37",
          "name" : "QueryRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e20-0199-1000-2000-6402f5d7b9c1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1c-0199-1000-5331-c511d688c353",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 9
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1f-0199-1000-5769-fc33d7572174",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e21-0199-1000-2e3b-adb7a38b2277",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1c-0199-1000-5331-c511d688c353",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 16
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "1214c152-bac1-38b6-b480-4b9310a4729e",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e22-0199-1000-9406-c6bd8796d618",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1d-0199-1000-91c1-054a27f3fc32",
          "name" : "in",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 18
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1e-0199-1000-48d1-e68126d03274",
          "name" : "out",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e23-0199-1000-6f0d-a04c0e746934",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "weekAppend" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1b-0199-1000-e712-420a929e3c37",
          "name" : "QueryRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 19
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1f-0199-1000-5769-fc33d7572174",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e24-0199-1000-8547-fb5398f315ca",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "original" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1b-0199-1000-e712-420a929e3c37",
          "name" : "QueryRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 17
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "bd837e1c-0199-1000-5331-c511d688c353",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "f92496f3-5ecb-3958-a825-6bc82ac1888d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e1a-0199-1000-3772-7b730a4ead51",
          "id" : "1214c152-bac1-38b6-b480-4b9310a4729e",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 20
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e1f-0199-1000-5769-fc33d7572174",
        "position" : {
          "x" : -224.0,
          "y" : 240.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e1d-0199-1000-91c1-054a27f3fc32",
        "name" : "in",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -1032.0,
          "y" : -336.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "data_transformation",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e1e-0199-1000-48d1-e68126d03274",
        "name" : "out",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -1024.0,
          "y" : 512.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "nifi.training",
      "position" : {
        "x" : -1104.0,
        "y" : -240.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "1214c152-bac1-38b6-b480-4b9310a4729e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1080.0,
          "y" : -184.0
        },
        "properties" : {
          "schema.reader.name" : "transaction_reader",
          "Store State" : "Do not store state",
          "canonical-value-lookup-cache-size" : "100"
        },
        "propertyDescriptors" : {
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "schema.reader.name" : {
            "displayName" : "schema.reader.name",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "schema.reader.name",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "canonical-value-lookup-cache-size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "canonical-value-lookup-cache-size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e1b-0199-1000-e712-420a929e3c37",
        "maxBackoffPeriod" : "10 mins",
        "name" : "QueryRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1080.0,
          "y" : 288.0
        },
        "properties" : {
          "weekAppend" : "SELECT\n  \"timestamp\",\n  hour_of_day,\n  sending_address,\n  receiving_address,\n  amount,\n  transaction_type,\n  location_region,\n  ip_prefix,\n  login_frequency,\n  session_duration,\n  purchase_pattern,\n  age_group,\n  risk_score,\n  anomaly,\n  EXTRACT(WEEK FROM CAST(\"timestamp\" AS TIMESTAMP)) AS week_of_year\nFROM FLOWFILE",
          "dbf-default-precision" : "10",
          "record-writer" : "5d25925e-b54b-34c9-ac30-de240bb07749",
          "record-reader" : "f275ef35-264f-3825-8c05-e30c97c6e590",
          "include-zero-record-flowfiles" : "true",
          "dbf-default-scale" : "0"
        },
        "propertyDescriptors" : {
          "weekAppend" : {
            "displayName" : "weekAppend",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "weekAppend",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "record-writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "record-writer",
            "sensitive" : false
          },
          "record-reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "record-reader",
            "sensitive" : false
          },
          "include-zero-record-flowfiles" : {
            "displayName" : "Include Zero Record FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "include-zero-record-flowfiles",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.QueryRecord",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e1a-0199-1000-3772-7b730a4ead51",
        "identifier" : "bd837e1c-0199-1000-5331-c511d688c353",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ConvertRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1072.0,
          "y" : 56.0
        },
        "properties" : {
          "Include Zero Record FlowFiles" : "true",
          "Record Writer" : "5d25925e-b54b-34c9-ac30-de240bb07749",
          "Record Reader" : "98b930a8-f520-390f-994d-4b1b6292afcb"
        },
        "propertyDescriptors" : {
          "Include Zero Record FlowFiles" : {
            "displayName" : "Include Zero Record FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Zero Record FlowFiles",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e28-0199-1000-ffe8-7fc9de5d0bf6",
          "name" : "out",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e2a-0199-1000-eecb-3f823ca65b96",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e26-0199-1000-d42c-afc7a15184fd",
          "name" : "UnpackContent",
          "type" : "PROCESSOR"
        },
        "zIndex" : 20
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e26-0199-1000-d42c-afc7a15184fd",
          "name" : "UnpackContent",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e2b-0199-1000-8c01-ea5191b3996c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Response" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e27-0199-1000-ef63-59528c85def3",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e29-0199-1000-9afc-e97816687a66",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e2c-0199-1000-c72e-505917776ac5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "original" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e26-0199-1000-d42c-afc7a15184fd",
          "name" : "UnpackContent",
          "type" : "PROCESSOR"
        },
        "zIndex" : 19
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e29-0199-1000-9afc-e97816687a66",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e2d-0199-1000-9d8a-2d7bea8a60c2",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "Failure", "No Retry", "Original", "Retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e25-0199-1000-4c61-73018fd464bb",
          "id" : "bd837e27-0199-1000-ef63-59528c85def3",
          "name" : "InvokeHTTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 18
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e29-0199-1000-9afc-e97816687a66",
        "position" : {
          "x" : -264.0,
          "y" : -200.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "fetch_data",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e28-0199-1000-ffe8-7fc9de5d0bf6",
        "name" : "out",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -1016.0,
          "y" : 64.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "nifi.training",
      "position" : {
        "x" : -1096.0,
        "y" : -544.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e26-0199-1000-d42c-afc7a15184fd",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UnpackContent",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1072.0,
          "y" : -160.0
        },
        "properties" : {
          "Packaging Format" : "use mime.type attribute",
          "allow-stored-entries-wdd" : "false",
          "Filename Character Set" : "UTF-8",
          "File Filter" : "metaverse_transactions_dataset\\.csv"
        },
        "propertyDescriptors" : {
          "Packaging Format" : {
            "displayName" : "Packaging Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Packaging Format",
            "sensitive" : false
          },
          "allow-stored-entries-wdd" : {
            "displayName" : "Allow Stored Entries With Data Descriptor",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "allow-stored-entries-wdd",
            "sensitive" : false
          },
          "Filename Character Set" : {
            "displayName" : "Filename Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Filename Character Set",
            "sensitive" : false
          },
          "File Filter" : {
            "displayName" : "File Filter",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Filter",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.UnpackContent",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e25-0199-1000-4c61-73018fd464bb",
        "identifier" : "bd837e27-0199-1000-ef63-59528c85def3",
        "maxBackoffPeriod" : "10 mins",
        "name" : "InvokeHTTP",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1064.0,
          "y" : -376.0
        },
        "properties" : {
          "Request Content-Encoding" : "DISABLED",
          "Request Multipart Form-Data Filename Enabled" : "true",
          "Request Chunked Transfer-Encoding Enabled" : "false",
          "HTTP/2 Disabled" : "False",
          "Connection Timeout" : "5 secs",
          "Response Cookie Strategy" : "DISABLED",
          "Socket Read Timeout" : "15 secs",
          "Socket Idle Connections" : "5",
          "Request Body Enabled" : "true",
          "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
          "HTTP URL" : "#{fetch.dataset.url}",
          "Socket Idle Timeout" : "5 mins",
          "Response Redirects Enabled" : "True",
          "Socket Write Timeout" : "15 secs",
          "Response FlowFile Naming Strategy" : "RANDOM",
          "Response Cache Enabled" : "false",
          "Request Date Header Enabled" : "True",
          "Request Failure Penalization Enabled" : "false",
          "Response Body Attribute Size" : "256",
          "Response Generation Required" : "false",
          "Response Header Request Attributes Enabled" : "false",
          "HTTP Method" : "GET",
          "Request Content-Type" : "${mime.type}",
          "Request Digest Authentication Enabled" : "false",
          "Response Cache Size" : "10MB",
          "Response Body Ignored" : "false"
        },
        "propertyDescriptors" : {
          "Request Content-Encoding" : {
            "displayName" : "Request Content-Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Encoding",
            "sensitive" : false
          },
          "proxy-configuration-service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "proxy-configuration-service",
            "sensitive" : false
          },
          "Request Multipart Form-Data Filename Enabled" : {
            "displayName" : "Request Multipart Form-Data Filename Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Filename Enabled",
            "sensitive" : false
          },
          "Request Chunked Transfer-Encoding Enabled" : {
            "displayName" : "Request Chunked Transfer-Encoding Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Chunked Transfer-Encoding Enabled",
            "sensitive" : false
          },
          "Response Header Request Attributes Prefix" : {
            "displayName" : "Response Header Request Attributes Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Prefix",
            "sensitive" : false
          },
          "HTTP/2 Disabled" : {
            "displayName" : "HTTP/2 Disabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP/2 Disabled",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Response Cookie Strategy" : {
            "displayName" : "Response Cookie Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cookie Strategy",
            "sensitive" : false
          },
          "Request Password" : {
            "displayName" : "Request Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Password",
            "sensitive" : true
          },
          "Socket Read Timeout" : {
            "displayName" : "Socket Read Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Read Timeout",
            "sensitive" : false
          },
          "Socket Idle Connections" : {
            "displayName" : "Socket Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Connections",
            "sensitive" : false
          },
          "Request Body Enabled" : {
            "displayName" : "Request Body Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Body Enabled",
            "sensitive" : false
          },
          "OAuth2 Access Token Refresh Strategy" : {
            "displayName" : "OAuth2 Access Token Refresh Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "OAuth2 Access Token Refresh Strategy",
            "sensitive" : false
          },
          "HTTP URL" : {
            "displayName" : "HTTP URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP URL",
            "sensitive" : false
          },
          "Request OAuth2 Access Token Provider" : {
            "displayName" : "Request OAuth2 Access Token Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Request OAuth2 Access Token Provider",
            "sensitive" : false
          },
          "Socket Idle Timeout" : {
            "displayName" : "Socket Idle Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Idle Timeout",
            "sensitive" : false
          },
          "Response Redirects Enabled" : {
            "displayName" : "Response Redirects Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Redirects Enabled",
            "sensitive" : false
          },
          "Socket Write Timeout" : {
            "displayName" : "Socket Write Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Socket Write Timeout",
            "sensitive" : false
          },
          "Request Header Attributes Pattern" : {
            "displayName" : "Request Header Attributes Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Header Attributes Pattern",
            "sensitive" : false
          },
          "Response FlowFile Naming Strategy" : {
            "displayName" : "Response FlowFile Naming Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response FlowFile Naming Strategy",
            "sensitive" : false
          },
          "Response Cache Enabled" : {
            "displayName" : "Response Cache Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Enabled",
            "sensitive" : false
          },
          "Request Date Header Enabled" : {
            "displayName" : "Request Date Header Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Date Header Enabled",
            "sensitive" : false
          },
          "Request Failure Penalization Enabled" : {
            "displayName" : "Request Failure Penalization Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Failure Penalization Enabled",
            "sensitive" : false
          },
          "Response Body Attribute Size" : {
            "displayName" : "Response Body Attribute Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Size",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Response Generation Required" : {
            "displayName" : "Response Generation Required",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Generation Required",
            "sensitive" : false
          },
          "Request User-Agent" : {
            "displayName" : "Request User-Agent",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request User-Agent",
            "sensitive" : false
          },
          "Response Header Request Attributes Enabled" : {
            "displayName" : "Response Header Request Attributes Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Header Request Attributes Enabled",
            "sensitive" : false
          },
          "HTTP Method" : {
            "displayName" : "HTTP Method",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "HTTP Method",
            "sensitive" : false
          },
          "Request Username" : {
            "displayName" : "Request Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Username",
            "sensitive" : false
          },
          "Request Content-Type" : {
            "displayName" : "Request Content-Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Content-Type",
            "sensitive" : false
          },
          "Response Body Attribute Name" : {
            "displayName" : "Response Body Attribute Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Attribute Name",
            "sensitive" : false
          },
          "Request Digest Authentication Enabled" : {
            "displayName" : "Request Digest Authentication Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Digest Authentication Enabled",
            "sensitive" : false
          },
          "Request Multipart Form-Data Name" : {
            "displayName" : "Request Multipart Form-Data Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Request Multipart Form-Data Name",
            "sensitive" : false
          },
          "Response Cache Size" : {
            "displayName" : "Response Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Cache Size",
            "sensitive" : false
          },
          "Response Body Ignored" : {
            "displayName" : "Response Body Ignored",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Response Body Ignored",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e35-0199-1000-5da4-24c06d7fb61c",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e39-0199-1000-6043-b74abb712537",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e32-0199-1000-dbcb-29bc202d22c4",
          "name" : "PublishKafka",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e36-0199-1000-a986-f0281021c912",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e3a-0199-1000-03da-5c35f3a68e74",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "original" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e33-0199-1000-0f31-da55421976e0",
          "name" : "SplitRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 9
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e33-0199-1000-0f31-da55421976e0",
          "name" : "SplitRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e3b-0199-1000-96a2-a9e7b7110d22",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e34-0199-1000-5df7-6346a37ef2d1",
          "name" : "in",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e38-0199-1000-6fcd-32d8bfb06ddb",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e3c-0199-1000-0f3f-09d798d8d755",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e33-0199-1000-0f31-da55421976e0",
          "name" : "SplitRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 8
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e37-0199-1000-25fd-1aa9226ecd88",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e3d-0199-1000-75f4-c0e8a62269a9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e32-0199-1000-dbcb-29bc202d22c4",
          "name" : "PublishKafka",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e32-0199-1000-dbcb-29bc202d22c4",
          "name" : "PublishKafka",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e3e-0199-1000-a2da-8f23daccd6fc",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "splits" ],
        "source" : {
          "comments" : "",
          "groupId" : "bd837e2e-0199-1000-416b-dc8df18c1518",
          "id" : "bd837e33-0199-1000-0f31-da55421976e0",
          "name" : "SplitRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-redis-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.6.0"
          },
          "type" : "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"
        }, {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.6.0"
          },
          "type" : "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"
        } ],
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e2f-0199-1000-191d-5210017927ae",
        "name" : "RedisDistributedMapCacheClientService",
        "properties" : {
          "redis-connection-pool" : "bd837e31-0199-1000-f346-55a9f3be7cf6",
          "redis-cache-ttl" : "0 secs"
        },
        "propertyDescriptors" : {
          "redis-connection-pool" : {
            "displayName" : "Redis Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "redis-connection-pool",
            "sensitive" : false
          },
          "redis-cache-ttl" : {
            "displayName" : "TTL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "redis-cache-ttl",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.redis.service.RedisDistributedMapCacheClientService"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-3-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-kafka-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.6.0"
          },
          "type" : "org.apache.nifi.kafka.service.api.KafkaConnectionService"
        } ],
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e30-0199-1000-5dcd-5e80ab378bfd",
        "name" : "Kafka3ConnectionService",
        "properties" : {
          "ack.wait.time" : "5 sec",
          "max.poll.records" : "10000",
          "bootstrap.servers" : "localhost:29092",
          "security.protocol" : "PLAINTEXT",
          "sasl.mechanism" : "GSSAPI",
          "isolation.level" : "read_committed",
          "max.block.ms" : "5 sec",
          "default.api.timeout.ms" : "60 sec"
        },
        "propertyDescriptors" : {
          "ack.wait.time" : {
            "displayName" : "Acknowledgment Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "ack.wait.time",
            "sensitive" : false
          },
          "sasl.username" : {
            "displayName" : "SASL Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.username",
            "sensitive" : false
          },
          "max.poll.records" : {
            "displayName" : "Max Poll Records",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.poll.records",
            "sensitive" : false
          },
          "bootstrap.servers" : {
            "displayName" : "Bootstrap Servers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "bootstrap.servers",
            "sensitive" : false
          },
          "sasl.kerberos.service.name" : {
            "displayName" : "Kerberos Service Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.kerberos.service.name",
            "sensitive" : false
          },
          "security.protocol" : {
            "displayName" : "Security Protocol",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "security.protocol",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "sasl.mechanism" : {
            "displayName" : "SASL Mechanism",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.mechanism",
            "sensitive" : false
          },
          "isolation.level" : {
            "displayName" : "Transaction Isolation Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "isolation.level",
            "sensitive" : false
          },
          "oauth2-access-token-provider-service" : {
            "displayName" : "OAuth2 Access Token Provider Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "oauth2-access-token-provider-service",
            "sensitive" : false
          },
          "max.block.ms" : {
            "displayName" : "Max Metadata Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.block.ms",
            "sensitive" : false
          },
          "kerberos-user-service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "kerberos-user-service",
            "sensitive" : false
          },
          "sasl.password" : {
            "displayName" : "SASL Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.password",
            "sensitive" : true
          },
          "default.api.timeout.ms" : {
            "displayName" : "Client Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "default.api.timeout.ms",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.kafka.service.Kafka3ConnectionService"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-redis-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-redis-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.6.0"
          },
          "type" : "org.apache.nifi.redis.RedisConnectionPool"
        } ],
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e31-0199-1000-f346-55a9f3be7cf6",
        "name" : "RedisConnectionPoolService",
        "properties" : {
          "Pool - Min Evictable Idle Time" : "60 seconds",
          "Pool - Test On Borrow" : "false",
          "Pool - Test On Return" : "false",
          "Redis Mode" : "Standalone",
          "Pool - Max Idle" : "8",
          "Pool - Block When Exhausted" : "true",
          "Cluster Max Redirects" : "5",
          "Pool - Num Tests Per Eviction Run" : "-1",
          "Connection String" : "localhost:6379",
          "Pool - Max Total" : "8",
          "Pool - Test On Create" : "false",
          "Pool - Min Idle" : "0",
          "Pool - Test While Idle" : "true",
          "Pool - Time Between Eviction Runs" : "30 seconds",
          "Communication Timeout" : "10 seconds",
          "Pool - Max Wait Time" : "10 seconds",
          "Database Index" : "0"
        },
        "propertyDescriptors" : {
          "Pool - Min Evictable Idle Time" : {
            "displayName" : "Pool - Min Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Min Evictable Idle Time",
            "sensitive" : false
          },
          "Pool - Test On Borrow" : {
            "displayName" : "Pool - Test On Borrow",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Test On Borrow",
            "sensitive" : false
          },
          "Pool - Test On Return" : {
            "displayName" : "Pool - Test On Return",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Test On Return",
            "sensitive" : false
          },
          "Redis Mode" : {
            "displayName" : "Redis Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Redis Mode",
            "sensitive" : false
          },
          "Pool - Max Idle" : {
            "displayName" : "Pool - Max Idle",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Max Idle",
            "sensitive" : false
          },
          "Pool - Block When Exhausted" : {
            "displayName" : "Pool - Block When Exhausted",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Block When Exhausted",
            "sensitive" : false
          },
          "Cluster Max Redirects" : {
            "displayName" : "Cluster Max Redirects",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cluster Max Redirects",
            "sensitive" : false
          },
          "Pool - Num Tests Per Eviction Run" : {
            "displayName" : "Pool - Num Tests Per Eviction Run",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Num Tests Per Eviction Run",
            "sensitive" : false
          },
          "Connection String" : {
            "displayName" : "Connection String",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection String",
            "sensitive" : false
          },
          "Pool - Max Total" : {
            "displayName" : "Pool - Max Total",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Max Total",
            "sensitive" : false
          },
          "Pool - Test On Create" : {
            "displayName" : "Pool - Test On Create",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Test On Create",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "Sentinel Username" : {
            "displayName" : "Sentinel Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Sentinel Username",
            "sensitive" : false
          },
          "Pool - Min Idle" : {
            "displayName" : "Pool - Min Idle",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Min Idle",
            "sensitive" : false
          },
          "Username" : {
            "displayName" : "Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Username",
            "sensitive" : false
          },
          "Sentinel Password" : {
            "displayName" : "Sentinel Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Sentinel Password",
            "sensitive" : true
          },
          "Pool - Test While Idle" : {
            "displayName" : "Pool - Test While Idle",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Test While Idle",
            "sensitive" : false
          },
          "Pool - Time Between Eviction Runs" : {
            "displayName" : "Pool - Time Between Eviction Runs",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Time Between Eviction Runs",
            "sensitive" : false
          },
          "Communication Timeout" : {
            "displayName" : "Communication Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Communication Timeout",
            "sensitive" : false
          },
          "Pool - Max Wait Time" : {
            "displayName" : "Pool - Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pool - Max Wait Time",
            "sensitive" : false
          },
          "Database Index" : {
            "displayName" : "Database Index",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Index",
            "sensitive" : false
          },
          "Sentinel Master" : {
            "displayName" : "Sentinel Master",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Sentinel Master",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.redis.service.RedisConnectionPoolService"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e35-0199-1000-5da4-24c06d7fb61c",
        "position" : {
          "x" : -1320.0,
          "y" : 8.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e36-0199-1000-a986-f0281021c912",
        "position" : {
          "x" : -415.1889472685539,
          "y" : -370.75067356931766
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e37-0199-1000-25fd-1aa9226ecd88",
        "position" : {
          "x" : -896.0,
          "y" : 16.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e38-0199-1000-6fcd-32d8bfb06ddb",
        "position" : {
          "x" : -465.55282563450055,
          "y" : -634.0818090255536
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e34-0199-1000-5df7-6346a37ef2d1",
        "name" : "in",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -1208.0,
          "y" : -768.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "kafka",
      "outputPorts" : [ ],
      "parameterContextName" : "my.db.config",
      "position" : {
        "x" : -752.0,
        "y" : 424.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e32-0199-1000-dbcb-29bc202d22c4",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PublishKafka",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1264.0,
          "y" : -328.0
        },
        "properties" : {
          "compression.type" : "none",
          "acks" : "all",
          "Kafka Key Attribute Encoding" : "utf-8",
          "Record Reader" : "aae21dc1-c042-3fc0-b3b2-cbd159a61f99",
          "Record Metadata Strategy" : "FROM_PROPERTIES",
          "Header Encoding" : "UTF-8",
          "max.request.size" : "1 MB",
          "Topic Name" : "${partition.field}",
          "Kafka Connection Service" : "bd837e30-0199-1000-5dcd-5e80ab378bfd",
          "Publish Strategy" : "USE_VALUE",
          "Failure Strategy" : "Route to Failure",
          "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Record Writer" : "e5dfc8f6-17e6-3488-ad47-b6b48eb026aa",
          "Transactions Enabled" : "true"
        },
        "propertyDescriptors" : {
          "compression.type" : {
            "displayName" : "Compression Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression.type",
            "sensitive" : false
          },
          "acks" : {
            "displayName" : "Delivery Guarantee",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "acks",
            "sensitive" : false
          },
          "Message Demarcator" : {
            "displayName" : "Message Demarcator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Demarcator",
            "sensitive" : false
          },
          "Kafka Key Attribute Encoding" : {
            "displayName" : "Kafka Key Attribute Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Kafka Key Attribute Encoding",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Record Metadata Strategy" : {
            "displayName" : "Record Metadata Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Metadata Strategy",
            "sensitive" : false
          },
          "Transactional ID Prefix" : {
            "displayName" : "Transactional ID Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transactional ID Prefix",
            "sensitive" : false
          },
          "Header Encoding" : {
            "displayName" : "Header Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Encoding",
            "sensitive" : false
          },
          "max.request.size" : {
            "displayName" : "Max Request Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.request.size",
            "sensitive" : false
          },
          "Topic Name" : {
            "displayName" : "Topic Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topic Name",
            "sensitive" : false
          },
          "Kafka Key" : {
            "displayName" : "Kafka Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Kafka Key",
            "sensitive" : false
          },
          "partition" : {
            "displayName" : "Partition",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "partition",
            "sensitive" : false
          },
          "Kafka Connection Service" : {
            "displayName" : "Kafka Connection Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Kafka Connection Service",
            "sensitive" : false
          },
          "Publish Strategy" : {
            "displayName" : "Publish Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Publish Strategy",
            "sensitive" : false
          },
          "Record Key Writer" : {
            "displayName" : "Record Key Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Key Writer",
            "sensitive" : false
          },
          "Failure Strategy" : {
            "displayName" : "Failure Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Failure Strategy",
            "sensitive" : false
          },
          "partitioner.class" : {
            "displayName" : "Partitioner Class",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "partitioner.class",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Transactions Enabled" : {
            "displayName" : "Transactions Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transactions Enabled",
            "sensitive" : false
          },
          "Message Key Field" : {
            "displayName" : "Message Key Field",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Key Field",
            "sensitive" : false
          },
          "FlowFile Attribute Header Pattern" : {
            "displayName" : "FlowFile Attribute Header Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FlowFile Attribute Header Pattern",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.kafka.processors.PublishKafka",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.6.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "bd837e2e-0199-1000-416b-dc8df18c1518",
        "identifier" : "bd837e33-0199-1000-0f31-da55421976e0",
        "maxBackoffPeriod" : "10 mins",
        "name" : "SplitRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1256.0,
          "y" : -584.0
        },
        "properties" : {
          "Record Writer" : "e5dfc8f6-17e6-3488-ad47-b6b48eb026aa",
          "Record Reader" : "f275ef35-264f-3825-8c05-e30c97c6e590",
          "Records Per Split" : "500"
        },
        "propertyDescriptors" : {
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Records Per Split" : {
            "displayName" : "Records Per Split",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Records Per Split",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.SplitRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e0e-0199-1000-476a-62b851a92fa3",
      "maxBackoffPeriod" : "10 mins",
      "name" : "DetectDuplicate",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1792.0,
        "y" : 128.0
      },
      "properties" : {
        "Cache Entry Identifier" : "${timestamp}",
        "Cache The Entry Identifier" : "true",
        "FlowFile Description" : "",
        "Distributed Cache Service" : "bd837e0b-0199-1000-dffa-ee1bb04afe74"
      },
      "propertyDescriptors" : {
        "Cache Entry Identifier" : {
          "displayName" : "Cache Entry Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Entry Identifier",
          "sensitive" : false
        },
        "Cache The Entry Identifier" : {
          "displayName" : "Cache The Entry Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache The Entry Identifier",
          "sensitive" : false
        },
        "Age Off Duration" : {
          "displayName" : "Age Off Duration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Age Off Duration",
          "sensitive" : false
        },
        "FlowFile Description" : {
          "displayName" : "FlowFile Description",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "FlowFile Description",
          "sensitive" : false
        },
        "Distributed Cache Service" : {
          "displayName" : "Distributed Cache Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Distributed Cache Service",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.DetectDuplicate",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bd837e0f-0199-1000-8568-a9a68bb21725",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PartitionRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1080.0,
        "y" : 80.0
      },
      "properties" : {
        "partition.field" : "/transaction_type",
        "record-writer" : "5d25925e-b54b-34c9-ac30-de240bb07749",
        "record-reader" : "f275ef35-264f-3825-8c05-e30c97c6e590"
      },
      "propertyDescriptors" : {
        "partition.field" : {
          "displayName" : "partition.field",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "partition.field",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PartitionRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "my.db.config" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "my.db.config",
      "parameters" : [ {
        "description" : "",
        "name" : "db.driver.class",
        "provided" : false,
        "sensitive" : false,
        "value" : "org.postgresql.Driver"
      }, {
        "description" : "",
        "name" : "db.driver.location",
        "provided" : false,
        "sensitive" : false,
        "value" : "C:\\Users\\hp\\Music\\nifi-2.5.0-bin\\nifi-2.5.0\\lib\\postgresql-42.7.6.jar"
      }, {
        "description" : "",
        "name" : "db.password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "db.url",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:postgresql://localhost:5432/"
      }, {
        "description" : "",
        "name" : "db.username",
        "provided" : false,
        "sensitive" : false,
        "value" : "postgres"
      } ]
    },
    "nifi.training" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "nifi.training",
      "parameters" : [ {
        "description" : "",
        "name" : "fetch.dataset.url",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://www.kaggle.com/api/v1/datasets/download/faizaniftikharjanjua/metaverse-financial-transactions-dataset"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "user01",
    "flowIdentifier" : "exercise",
    "timestamp" : 1759906472585
  }
}